<nav class="navbar navbar-expand-lg" style="background-color: #BF2C7D">
  <a class="mb-1 navbar-brand" routerLink="home" style="color: aliceblue;">Registro para professores e alunos</a>

  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <ul class="navbar-nav me-auto mb-2">
      <li class="nav-item">
        <a class="nav-link " routerLink="professores" style="color: aliceblue;">Professores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="alunos" style="color: aliceblue;">Estudantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="home" style="color: aliceblue;">Página inícial </a>
      </li>
    </ul>
  </div>
</nav>