<nav class="navbar navbar-expand-lg"  style="background-color: #7713a9;">
    <a class=" m-3 navbar-brand" routerLink="home" style="color: aliceblue;">Registry of students and teachers</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2">
        
        <li class="nav-item">
          <a class="nav-link " routerLink="professores" style="color: aliceblue;">Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="alunos" style="color: aliceblue;">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="home" style="color: aliceblue;">Home</a>
          </li>
      </ul>
    </div>
  </nav>