<div style="background-color: #151226; min-height: 100vh;">
  <div class="mt-5 container display-7 rounded-4 p-5" style="background-color: #024873">

    <app-professores-forms [Professores]="professores" (saveEvent)="onSaveEvent($event)"
      (cleanEvent)="onCleanEvent()"></app-professores-forms>

    <table class="table table-primary mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">CPF</th>
          <th scope="col">Endereço</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let professor of Professores">
          <th scope="row">{{ professor.id }}</th>
          <td>{{ professor.name }}</td>
          <td>{{ professor.email }}</td>
          <td>{{ professor.cpf }}</td>
          <td>{{ professor.location }}</td>
          <td>
            <button class="btn me-2" style="background: #0388A6 ; color: white;"
              (click)="edit(professor)">Editar</button>
            <button class="btn " style="background: #BF2C7D; color: white;" (click)="delete(professor)">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>